.World {
    background-color: #303038;
    position: relative;
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
}

.World * {
    position: absolute;
}

.World .XAxis {
    border-top: 1px dashed #657080;
    width: 100%;
    top: 50%;
}

.World .YAxis {
    border-left: 1px dashed #657080;
    height: 100%;
    left: 50%;
}

.World .Edge {
    border: 1px dashed #657080;
    left: 50%;
    top: 50%;
    background-color: #202028;
}

.World .Zone {
    border: 1px dashed #802020;
    background-color: rgba(128,32,32,0.1);
    left: 50%;
    top: 50%;
}

.World .Agent {
    background-color: white;
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    left: 50%;
    top: 50%;
    border-radius: 4px;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,50%);
    /*border: 1px solid black;*/
}